.show-more-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.line{
    height: 1px;
    flex: 1;
   background-color: rgb(216, 211, 211);
}

.show-more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(209, 208, 208);
    padding: 10px 10px;
    font-family: Roboto,Arial;
    font-size: 15px;
    font-weight: 500;
    width: 350px;
    border-radius: 20px;
cursor: pointer;
}